.problem-bank {
    display: flex;
    border: 3px solid #000;
}

.problem-cell {
        border: 1px solid #333;
}

.problem-digit {
    width: 100%;
    height: 1.6rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.problem-label {
    width: 100%;
    height: 1.6rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.problem-column {
    display: flex;
    max-width: 30px;
    border: 1px solid fefffe;
    flex-direction: column;
}

.problem-column ~ .problem-column {
    max-width: 100%;
    min-width: 100px;
}

.wrapper {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10%;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: right;
}
